YOUTUBE_API_KEY=your_key_here
YOUTUBE_CHANNEL_ID=your_channel_id_here
START_DATE=YYYY-MM-DD
FFMPEG_LOCATION=path/to/ffmpeg
GITHUB_TOKEN=your_github_personal_access_token
GITHUB_REPO=username/repo_name