YOUTUBE_API_KEY=your_key_here
YOUTUBE_CHANNEL_ID=your_channel_id_here
START_DATE=YYYY-MM-DD
FFMPEG_LOCATION=path/to/ffmpeg
GITHUB_TOKEN=your_github_personal_access_token
GITHUB_REPO=username/repo_name
PODCAST_TITLE=your_podcast_title_here
PODCAST_DESCRIPTION=your_podcast_description_here
PODCAST_LINK=your_podcast_link_here
PODCAST_LANGUAGE=your_language_here
PODCAST_IMAGE=your_image_hosting_URL_here