#virtual environment
venv/

#api keys
.env

#pytest cache
.pytest_cache/
tests/__pycache__/
__pycache__/
*.pyc

#Coverage reports
.coverage

#Audio files
data/audio/*.mp3

#cookies
cookies.txt

#Project Planning
YouTube_To_Spotify_Project_Context.docx